<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>helpmate- Admin View </title>
        <link rel="icon" type="image/png" href="./../../../asset/logos.png"/>
    <link rel="stylesheet"  href="../../asset/postcard.css">
    <link rel="stylesheet"  href="../../asset/adminstyle.css">
    
</head>
<body>
    <header>
        <div class="logo"><a href="/admin/admin_dashboard" ><img src="../../asset/cut1.svg" alt="logo" width="222" height="68"></a></div>
        
        <h1 style="text-align: center; left: -5%;position: relative;" >Students pending</h1>
    </header>
    <div style="padding-top: 8%;">
    <table>
        <thead>
          <th>student id</th>
          <th>student_name</th>
          <th>student_mobile_number </th>
          <th>student_email </th>
          <th>register_date </th>
          <th>student_profile_img  </th>
          <th>student_disability_certificate </th>
          <th>approve_status </th>
          
          
        </thead>
        
            <%
           if(result.length!=0){
           var i=1;
           result.forEach(function(result){
           %>
           <tbody>
               <tr>
            <td><%=result.student_id %></td>
            <td><%=result.student_name %></td>
            <td><%=result.student_mobile_number %></td>
            <td><%=result.student_email %></td>
            <td><%=result.register_date %></td>
            <td><%=result.student_profile_img %></td>
            <td><%=result.student_disability_certificate %></td>
            <td><a href="admin/view_allstudents_aprove/approve_student/:<%=result.student_id %>"><button type="submit" style="padding: 5%;background-color: rgb(93, 207, 93);" >Approve</button></a> </td>
             </tr>
        </tbody>

            <%  i++; }) %>
             <% } %>
        

    </div>
</body>
</html>